<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Djangogirls test</title>
</head>
<body>
    <div>
        <h1><a href="">Input</a> </h1>
            <p>Information about Production and Supply</p>
            <h2>Purchase</h2>
            <h2>Production & Supply</h2>
            <h2>Transaction</h2>

    </div>
    <div>
        <h1><a href="">Show Status</a> </h1>
            <p>Show Status</p>
            <h2>Purchase</h2>
            <h2>Production & Supply</h2>
            <h2>Transaction</h2>
            <h2>Benefit</h2>

    </div>
</body>
</html>